{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h2>Books  </h2>

    {% if messages %}
      <div class="alert alert-success" role="alert">
          <ul class="messages">
              {% for message in messages %}
                  {{ message }}
              {% endfor %}
          </ul>
      </div>
    {% endif %}
    
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publication date</th>
            <th>ISBN number</th>
            <th>Number of pages</th>
            <th>Cover photo url</th>
            <th>Publication language</th>
            <th></th>
            <th></th>
        </tr>
        {% for book in context %}
            <tr>
                <td>{{ book.title }}</td>
                <td>
                {% for author in book.authors.all %}
                    {{ author }}</br>
                {% endfor %}
                </td>
                <td>{{ book.publication_date }}</td>
                <td>{{ book.isbn }}</td>
                <td>{{ book.page_count }}</td>
                <td>
                    {% if book.cover_photo %}    
                        <a href="{{ book.cover_photo }}" target="_blank">url</td>
                    {% else %}
                        
                    {% endif %}
                <td>{{ book.publication_language }}</td>
                <td>
                    <a class="btn btn-info" role="button" href="/books/{{ book.id }}/update">Modify</a>
                </td>
                <td>
                    <a class="btn btn-danger" role="button" href="/books/{{ book.id }}/delete">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <div class="row justify-content-center">
        {% if is_paginated %}
            <ul class="pagination">
                {% if current_page.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ current_page.previous_page_number }}">Previous</a>
                    </li>
                {% endif %}
                {% for page in paginator.page_range %}
                    <li class="page-item {% if page == current_page.number %}active{% endif %}">
                        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                    </li>
                {% endfor %}
                {% if current_page.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ current_page.next_page_number }}">Next</a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
    </div>

    <form method="GET">
        {% csrf_token %}
        {{ filterset.form|crispy }}   
        
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    
    
{% endblock %}