{% extends 'base.html' %}

{% load rest_framework %}
{% block content %}
  <h2>Add book</h2>
    <form method="post">
        {% csrf_token %}
        {% render_form serializer %}
        <button type="submit" class="btn btn-primary">Add book</button>
        <a class="btn btn-info" role="button" href="/books">Go back</a>
    </form>
  </br>
    {% if messages %}
      <div class="alert alert-success" role="alert">
          <ul class="messages">
              {% for message in messages %}
                  {{ message }}
              {% endfor %}
          </ul>
      </div>
    {% endif %}
{% endblock %}